<div class="shop_wrapper">

    <div class="sorting_wrapper">
        <a href="./sortByName">
            <button class="sort_btn waves-effect btn-large">Sort by name</button>
        </a>

        <a href="./sortByAgeLimit">
            <button class="sort_btn waves-effect btn-large">Sort by age limit</button>
        </a>

        <a href="./sortByDate">
            <button class="sort_btn waves-effect btn-large">Sort by date</button>
        </a>
    </div>

    <div class="row">
        {{#each sortGames}}
            <div class = "col s12 m4">
                <div class="card large game_wrapper">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{{imgUrl}}" alt="{{name}}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{name}}<i class="material-icons right">more_vert</i></span>
                        <p class="genre">{{genre}}</p>
                        <p class="ageLimit">{{ageLimit}}+</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{name}}<i class="material-icons right">close</i></span>
                        <p>Developer: <span class="developer">{{developer}}</span></p>
                        <p>Release Date: <span class="releaseDate">{{releaseDate}}</span></p>
                        <p>Description: <span class="description">{{description}}</span></p>
                    </div>

                    <div class="card-action">
                        <div class="row">
                            <div class="col s12 m6">
                                <form action="/library/addToLibrary" method="POST">

                                    <input type="hidden" name="id" value="{{id}}">

                                    <button class="card-action_btn waves-effect btn-large">Add to library</button>
                                </form>
                            </div>
                            <div class="col s12 m6 rating">
                                <form action="shop/setRating" method="POST">
                                    <span name="ratingValue">{{rating}}</span>

                                    <input type="hidden" name="ratingId" value="{{id}}">

                                    <button type="submit" class="ÑheckMark_btn btn-floating waves-effect waves-ligh red">
                                        <i class="material-icons">favorite_border</i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>